body {
  font-family: 'Nunito', sans-serif;
}

main {
  margin-left: 250px;
}

/* Containers */
.container-width {
  width: 940px;
  margin: 0 auto;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 1.7rem;
  line-height: 1.5;
  color: #6F69AC;
}

/* Sections */
.colored-section {
  background: #FF6EC9;
}

/* Title */
.logo {
  height: 200px;
  margin: 20px 60px;
  vertical-align: middle;
}

.brand {
  font-family: 'Paytone One', sans-serif;
  text-decoration: none;
  font-size: 3.5rem;
  vertical-align: middle;
  color: #FFEBA1;
}

/* Nav Bar */
.menu {
  height: calc(100% - 240px);
  width: 200px;
  position: absolute;
  z-index: 1;
  background: #95DAC1;
  overflow-y: hidden;
  padding: 50px 25px;
}

.menu__item {
  padding: 10px 0 0;
}

.menu__link {
  padding: 12px 0 0;
  text-decoration: none;
  font-size: 1.5rem;
  color: #6F69AC;
  display: block;
}

.menu__link:hover {
  color: #FF6EC9;
}

/* Features */
.banner {
  padding: 12px;
}

.banner__img {
  text-align: center;
  width: 100%;
  border: 2px solid #6F69AC;
  border-radius: 10px;
}

.features {
  text-align: center;
  padding: 15px;
}

.features__item {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  padding: 7px;
}

.features__img {
  width: 200px;
  border: 2px solid #6F69AC;
  border-radius: 10px;
  margin-bottom: 10px;
}

.features__title {
  font-size: 1.2rem;
  color: #6F69AC;
}

/* About */
.about {
  padding: 20px 15px 0;
}

.about__map {
  height: 300px;
  width: 350px;
}

/* Contact Page */
.contact {
  width: 30%;
  padding-left: 15px;
  margin: 30px 15px 0 0;
  float: right;
}

form label {
  display: block;
  font-size: 1.2rem;
  margin: 0 0 10px;
}

.contact__input {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 70%;
}

.contact__btn {
  width: 50%;
  padding: 15px 0;
  background: #FF6EC9;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: 1s background;
  cursor: pointer;
}

.contact__btn:hover {
  background: #FFEBA1;
  color: #FF6EC9;
}

/* Cat Page */
.c-products {
  text-align: center;
  padding: 15px;
}

.c-products__item {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  padding: 7px;
}

.c-products__img {
  width: 150px;
  border: 2px solid #6F69AC;
  border-radius: 10px;
  margin-bottom: 10px;
}

.c-products__title {
  font-size: 1.2rem;
  color: #6F69AC;
}

.c-products__price {
  padding: .5rem;
  font-size: 1.2rem;
  color: #6F69AC;
}

/* Dog Page */
.d-products {
  text-align: center;
  padding: 15px;
}

.d-products__item {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  padding: 7px;
}

.d-products__img {
  width: 150px;
  border: 2px solid #6F69AC;
  border-radius: 10px;
  margin-bottom: 10px;
}

.d-products__title {
  font-size: 1.2rem;
  color: #6F69AC;
}

.d-products__price {
  padding: .5rem;
  font-size: 1.2rem;
  color: #6F69AC;
}